#define RT_MANIFEST 24
#define IDI_APP_ICON 1

IDI_APP_ICON ICON "resources\\rustpture.ico"
1 RT_MANIFEST "resources\\app.manifest"

1 VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Rustpture contributors\0"
            VALUE "FileDescription", "Rustpture screen-region pinning tool\0"
            VALUE "FileVersion", "0.1.0\0"
            VALUE "InternalName", "rustpture\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 Rustpture contributors\0"
            VALUE "OriginalFilename", "rustpture.exe\0"
            VALUE "ProductName", "Rustpture\0"
            VALUE "ProductVersion", "0.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
